RewriteEngine On
ErrorDocument 404 /404.html

RewriteRule  ^brand/a([^/\\]+)/$                    ./index.php?url=brand/detail/$1/ [L]
RewriteRule  ^article/([^/\\]+)/$                    ./index.php?url=new/article/$1/ [L]

RewriteRule ^comment/p([0-9]+)$                 	./index.php?url=comment/index/$1/ [L]
RewriteRule ^comment/p([0-9]+)/$                 	./index.php?url=comment/index/$1/ [L]
RewriteRule ^comment/g([0-9]+)/$                 	./index.php?url=comment/goods/$1/ [L]
RewriteRule ^comment/u([0-9]+)/$                 	./index.php?url=comment/user/$1/ [L]

RewriteRule ^user\.html$               				user\.php  [QSA,L]
RewriteRule ^user-mycoll\.html$               		user\.php\?act=mycoll  [QSA,L]
RewriteRule ^user-login\.html$               		user\.php\?act=login  [QSA,L]
RewriteRule ^user-login-returncart\.html$           user\.php\?act=login&url=returncart  [QSA,L]
RewriteRule ^user-register\.html$               	user\.php\?act=register  [QSA,L]
RewriteRule ^user-logout\.html$               		user\.php\?act=logout  [QSA,L]
RewriteRule ^user-forgetpass\.html$               	user\.php\?act=forgetpass  [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

