a:hover {color:#DB383E;}
.menunav{
/*-webkit-box-shadow: 0 -.1rem #fff inset;*/
display: -webkit-box;
width:65%; float:right;
}
.menunav a{
display: block;
-webkit-box-flex: 1;
text-align: center;
width: 100%;
font-size: 12px;
position: relative;
}
.menunav a i{
display: block;
width: 100%;
height:43px;
clear: both;
}

.menunav a:after {
content: '';
display: block;
height: 40%;
position: absolute;
right: 0;
top: 20%;
}

.logoqu{ background:#9F3200;}
.menunav a{ color:#FFF}
.indexitem .ptitle{background:url(../../images/6/dian2.jpg) 3px center no-repeat #FFF;}
.indexitem .ptitle span{ margin:auto; text-align:left; padding-left:12px; display:inline;}
.indexitem .ptitle span a{ color:#D92816}
.buyfals{width:56px; height:22px; display:block; text-align:center; line-height:22px; font-size:12px; background:#DB383E;border-radius:5px; position:absolute; bottom:13px; right:10px; z-index:10; color:#FFFFFF;}

.addcar {background-color: #B70000; width:35%}
.pushf { width:35%; background:#369803}
.footers{ background:#fafafa; border-top:1px solid #ededed}
.rexian{font-size:14px; color:#DB383E}
.footers p,.footers p a{ color:#666}

#header {/* background:#DB383E; border-bottom:1px solid #F49A91*/}
.shoptitle span{ text-shadow:none; font-size:14px}
.mainhead .shopinfol p.gdesc{ color:#DB383E}
.price{ color:#DB383E}
.logoright p span{line-height:46px;background:#e36267; width:85px; float:right; text-align:center; color:#FFF; font-size:14px; font-weight:bold}
.logoright div{background: url(../../images/dian.png) right 17px no-repeat; position:relative;background-size:auto}
.logoright div a{ height:47px; line-height:47px;}
.logoright div .showmenu{  display:none;height:auto; width:120px; background:#ededed; position:absolute; right:-10px; top:47px; z-index:9; background:url(../../images/cbg.png) repeat;border-radius:0px 0px  5px 5px;}
.logoright div .showmenu p{ text-shadow:none; height:24px; border-bottom:1px solid #e8e8e8; line-height:24px; text-align:center}
.logoright div .showmenu p a{ height:24px; line-height:24px; width:100%; display:block; color:#666}
.logoright div .showmenu p a:hover{ background:#ededed}

.top_bar{ height:50px; border-top:1px solid #e8e8e8;background:#fafafa; position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; padding-bottom:4px;}
.top_menu{ height:50px;}
.top_menu li{ cursor:pointer; width:20%; float:left; height:50px;}
.top_menu li a{ display:block; text-align:center; padding-top:32px;}
.top_menu li a label{ cursor:pointer; display:block; height:18px; line-height:18px;}
.top_menu li.li1 a{ background:url(../../images/1/li1.png) center 5px no-repeat}
.top_menu li.li1 a:hover{ background:url(../../images/1/li1_h.png) center 5px no-repeat}
.top_menu li.li2 a{ background:url(../../images/1/li2.png) center 5px no-repeat}
.top_menu li.li2 a:hover{ background:url(../../images/1/li2_h.png) center 5px no-repeat}
.top_menu li.li5 a{ background:url(../../images/1/li4.png) center 5px no-repeat}
.top_menu li.li5 a:hover{ background:url(../../images/1/li4_h.png) center 5px no-repeat}
.top_menu li.li4 a{ background:url(../../images/1/li5.png) center 5px no-repeat}
.top_menu li.li4 a:hover{ background:url(../../images/1/li5_h.png) center 5px no-repeat}
.top_menu li.li3{ text-align:center;}
.top_menu li.li3 a{ position:fixed; bottom:0px; right:auto; left:auto;z-index:999; margin:0 auto; color:#FFF;padding-top:40px; padding-right:2px;display:block; width:65px; height:27px;background:url(../../images/1/yy.png) center 0px no-repeat}
.top_menu li.li3 a:hover{ background:url(../../images/1/yy_h.png) center 0px no-repeat}
/*.top_menu li.li3{ text-align:center;}
.top_menu li.li3 a{ position:fixed; bottom:0px; right:auto; left:auto;z-index:999; margin:0 auto; color:#FFF;padding-top:40px; padding-right:2px;display:block; width:65px; height:27px;background:url(../../images/6/yy.png) center 0px no-repeat}
.top_menu li.li3 a:hover{ background:url(../../images/6/yy_h.png) center 0px no-repeat}*/

.gototop{height:32px; line-height:32px; position:fixed; bottom:60px; left:0px; right:0px; padding-right:5px; padding-left:5px; display:none}
.meCenter,.ui-content{ font-size:14px;}
#header {
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #AA5721;
	background: #9F3200;
	color: #fff;
	font-weight: 700;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#9F3200),to(#9F3200));
	background-image: -webkit-linear-gradient(#9F3200,#9F3200);
	background-image: -moz-linear-gradient(#9F3200,#9F3200);
	background-image: -ms-linear-gradient(#9F3200,#9F3200);
	background-image: -o-linear-gradient(#9F3200,#9F3200);
	background-image: linear-gradient(#9F3200,#9F3200);
}
.loginbut{padding:5px; background:#9F3200; color:#fff;width:100%; line-height:25px; cursor:pointer; font-weight:bold; border:none; font-size:14px}
.top_menu li.li1 a,.top_menu li a label{ font-size:12px;}