@charset "utf-8";
/* CSS Document */
*{padding:0px; margin:0px; list-style:none;}
/* top css  */
.top{width:100%; height:50px; background-color:#f7f7f7; position:fixed; top:0px; left:0px; z-index:999; border-bottom:1px solid #ccc}
.jiantou{margin-left:15px; margin-top:15px; float:left;}
.toptext{text-align:center; line-height:50px;}
.top ol{ position:absolute; top:5px; right:20px;}
.top ol li{width:8px; height:8px; border-radius:50%; background:#696c75; margin-top:3px;}
.top ol li:hover{background:#39F;}

/* banner css */
.banner{max-width:100%; margin-top:55px; position:relative;}
.banner div{position: relative; overflow:hidden; height:180px;}
.banner ul{position: absolute; top:0; left:0;}
.banner ul li{float:left;}
.banner ol{position:absolute; top:160px; left:47%; z-index:9;}
.banner ol li{width:8px; height:8px;border-radius:50%; background:#fff; border:1px solid #ccc; float:left; margin-left:10px;}
.banner ol li:hover{background:#F93;}

/* floor1 css */
.floor1{width:100%; margin-top:12px;}
.fleft{width:33.3%; float:left; text-align:center;}
.fleftitem{ border:1px solid #ccc}

/* nav css */
.nav{width:100%; margin-top:12px;}
.navbox{overflow:hidden; height:auto; line-height:40px;}
.navbox li{float:left;width:25%; text-align:center; background:#F63; color:#FFF;}
.navbox li a{ display:block; border-right:1px solid #fff; color:#fff; font-size:13px;}
.navbox li a:hover{background:#F60;}

/* zhuanqu css */
.zhuanqu{ padding-left:5px; padding-right:5px;margin-top:10px}
.pics{ width:50%; float:left; text-align:center}
.pic{ border:1px solid #CCC; margin:5px; text-align:center; margin-bottom:5px; position:relative}
.gouwu{position:absolute; bottom:5%; right:8%;}