@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{border:0 none}
i,em{font-style:normal}
ol,ul{list-style:none}
input,img{vertical-align:middle}
input,select{font:inherit;font-size:100%}
a{text-decoration:none;color:#333}
body{margin:0 auto;min-width:320px;max-width:640px;height:100%;background:url("../images/repeat.png") repeat 0 0;background-size:16px 16px;font-size:14px;font-family:"\5fae\8f6f\96c5\9ed1","Microsoft YaHei",Helvetica,Arial,sans-serif;line-height:1.5;color:#666;-webkit-text-size-adjust:100%}
.h10{height:10px;}
.h30{height:30px;}
.h100{height:100px;}
.hide{display:none!important}

/*top bar*/
.head{height:50px;
background:-webkit-gradient(linear,left top,left bottom,from(#63b908),to(#459605));
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b908', endColorstr='#459605');
					background:-ms-linear-gradient(top,#63b908 0,#459605 100%);							
						background:-o-linear-gradient(top,#63b908,#459605);
							background:-moz-linear-gradient(top,#63b908,#459605);
								background:linear-gradient(top,#63b908,#459605);color:#e9ece8;padding-left:12px;position:relative;z-index:2}
.head a.head_back{top:0;left:0;height:50px;text-align:center;background:url("../images/icon.png") no-repeat 0 0;background-size:100px 100px;padding-left:30px;padding-right:15px;font-size:105%;line-height:50px;font-weight:bold;}

.head a{color:#e9ece8;position:absolute;display:inline-block;}
.head a.head_city{top:37px;left:145px;font-size:101%;font-weight:bold;}
.head h2{position:absolute;left:5.4em;right:1em;display:inline-block;line-height:50px;padding-left:.5em;font-size:105%;font-weight:bold; text-align:center}
.head h2:after{content:"";position:absolute;top:15px;left:0;height:50px;width:2px;display:inline-block;background:url("../images/home_icobg.png") no-repeat 0 -70px}

.head .shopping-cart{position:absolute;left:90px;right:1em;display:inline-block;line-height:50px;padding-left:.5em;font-size:135%; text-align:left;}

/*--popup--*/
.popup{position:absolute;top:50%;left:20%;width:60%;line-height:25px;background:#555;border:1px solid #505050;border-radius:5px;color:#fff;z-index:999;
		-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.3);
			-moz-box-shadow:2px 2px 3px rgba(0,0,0,.3);
				-o-box-shadow:2px 2px 3px rgba(0,0,0,.3);
					box-shadow:2px 2px 3px rgba(0,0,0,.3);}
.popup p{margin:15px;}