#wrap{ min-height:370px; text-align:center}
#wrap .mt{ height:34px; line-height:34px; background:url(../images/tit_regist.jpg) repeat-x center -34px}
#wrap .mt h2{ width:100px;height:100%; margin:0px; padding-left:45px; float:left;font-size:16px; color:#FFF}
#wrap .mt span{ display:block; padding-right:20px; width:200px; height:100%;text-align:right; float:right;}
#wrap .mc{ height:32px; line-height:32px; text-align:center; border-bottom:1px solid #FBA921; padding-top:20px; width:90%; margin:0px auto;}
#wrap .mc_t{ border-left:1px solid #ccc;border-right:1px solid #ccc;}
#wrap .mc ul{ margin:0px; padding:0px; height:31px; line-height:31px;width:200px; margin:0px auto;}
#wrap .mc ul li{width:100px; float:left; text-align:center;}
#wrap .mc ul li a{ display:block; width:100%; height:100%; text-decoration:none;height:32px}
#wrap .mc ul li a.active{ background:url(../images/bg_regist.jpg) no-repeat -0px -83px;}
#wrap .mc ul li.ac{ border-bottom:1px solid #fff}
#wrap .content{ display:none; text-align:center; padding-top:10px; min-height:300px; /*border:1px solid #ccc; */border-top:none; text-align:center}
#wrap #content_1{ display:block}
.content table th{ text-align:right;}
.content table td{ text-align:left}
.content table td input{ width:250px;height:22px; line-height:22px; border:1px solid #e5e5e5; }
.content table td input.vifcode{ width:190px;}
.content table td input.is_save_info{ width:14px; height:14px;}
.content table td.textred{ color:#FE0000}
.content table td .submit{ height:30px; width:170px; cursor:pointer; background:url(../images/new-regist.jpg) no-repeat 0px 0px; line-height:30px; color:#FFF; font-weight:bold; text-align:center}
.content table td  .quitlogin{ font-size:16px;}
.forgetpass{ padding-left:10px; background:url(../images/san.jpg) no-repeat left center}
.protocol-con{width:640px; border:1px solid #ccc; height:200px; overflow-y:scroll;margin:0px auto; padding:20px; text-align:left}
.protocol-con p{ text-indent:2em; line-height:16px; padding-bottom:5px; padding-top:5px;}
.protocol-con h5{ font-size:12px;}
.protocol-con h4{ font-size:14px; text-align:center}
