@charset "utf-8";
/* CSS Document */
.h50{height:50px;}
.h60{height:60px;}

/*foundation*/
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99; }
  .sub-nav dt,
  .sub-nav dd,
  .sub-nav li {
    float: left;
    display: inline;
    margin-left: 1rem;
    margin-bottom: 0.625rem;
    font-weight: normal;
    font-size: 0.875rem;
    color: #999999; }

/*--footer--*/
footer{display:none;margin:20px 0 0 0;padding:8px 0 8px 0;background:#fff;border-top:1px solid #d7d7d7;text-align:center;}
footer .explain{display:inline-block;height:18px;line-height:18px;font-size:14px;color:#9c9c9c;vertical-align:middle;}
footer .logo-cop{width:auto;height:16px;vertical-align:middle;}
/*--footer navigation bar--*/
.fixed.bottom{bottom:-1px; top:auto;}

/*--nav bottom--*/
.icon-nav-search,
.icon-nav-store,
.icon-nav-bag,
.icon-nav-cart,
.icon-nav-heart{display:inline-block;background:url(../images/icon-addition.png) no-repeat;background-size:300px 300px;vertical-align:middle;}
.icon-nav-search{background-position:-32px -36px;width:22px;height:22px;}
.icon-nav-store{background-position:-64px -36px;width:22px;height:22px;}
.icon-nav-cart{background-position:-96px -36px;width:22px;height:22px;}
.icon-nav-bag{background-position:-154px -36px;width:22px;height:22px;}
.icon-nav-heart{background-position:-186px -36px;width:22px;height:22px;}

.sub-nav.nav-b5{height:48px;margin:0;padding:0;background:#fff;border-top:0px solid #000;box-shadow:0 -3px 3px rgba(0,0,0,.1);}
.sub-nav.nav-b5 dd{margin:0 0 0 0;width:25%;text-align:center;border-right:0px solid #ccc;
					-moz-box-sizing:border-box;
						-webkit-box-sizing:border-box;
							-o-box-sizing:border-box;
								box-sizing:border-box;
}
.sub-nav.nav-b5 dd.last{border-right:0;}
.sub-nav .nav-b5-relative{position:relative;}
.sub-nav.nav-b5 dd a{display:block;margin:0 2px;height:48px;padding:0 0 0 0;font-size:12px;color:#333;overflow:hidden;font-style:normal;}
.sub-nav.nav-b5 dd.active a{color:#000;border-radius:0;background:#f1f1f1;}
.sub-nav.nav-b5 dd a:active{background:#f7f7f7;}
.sub-nav.nav-b5 dd a.more{position:relative;}
.sub-nav.nav-b5 dd .arrow{position:absolute;right:5px;bottom:5px;width:10px;height:10px;background:url("../images/distribution2.png") no-repeat -161px -455px;background-size:300px 1000px;}
.sub-nav.nav-b5 dd i{display:block;margin:5px auto 0px auto;width:22px;height:22px;}
.sub-nav.nav-b5 dd.active .icon-nav-home{background-position:0 -66px;}
.sub-nav.nav-b5 dd.active .icon-nav-search{background-position:-32px -66px;}
.sub-nav.nav-b5 dd.active .icon-nav-store{background-position:-64px -66px;}
.sub-nav.nav-b5 dd.active .icon-nav-cart{background-position:-94px -66px;}
.sub-nav.nav-b5 dd.active .icon-nav-order{background-position:-126px -66px;}
.sub-nav.nav-b5 dd.active .icon-nav-bag{background-position:-154px -66px;}
.sub-nav.nav-b5 dd.active .icon-nav-heart{background-position:-186px -66px;}
.distribution-tip{display:none;position:fixed;left:30px;right:30px;top:50%;margin-top:-50px;padding:10px;line-height:24px;border-radius:5px;background:rgba(0,0,0,.6);color:#fff;z-index:3;}

/*contant us*/
.contFloat{position:fixed;left:10px;width:18px;padding:10px 5px;line-height:15px; border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:rgba(0,0,0,0.7);bottom:70px;text-align:center;color:#fff;z-index:2;}
.contFloat a{color:#fff;}
.contFloat .icon-contHuman{display:block;margin:0 auto 5px auto;width:20px;height:20px;background:url("../images/distribution2.png") -157px -820px;background-size:300px 1000px;}

.contFloat-detail{position:fixed;left:46px;bottom:70px;right:20px;max-width:230px;padding:10px;border-radius:3px;background:rgba(0,0,0,.7);color:#fff;text-align:left;z-index:1;}
.contFloat-detail .arrow-left{position:absolute;left:-10px;top:100px;border:5px solid rgba(0,0,0,0); border-right-color:rgba(0,0,0,.7)}
.contFloat-detail .icon-close{position:absolute;top:-10px;right:-10px;display:inline-block;width:20px;height:20px;border-radius:50%;border:2px solid rgba(255,255,255,.7); background:url(../images/distribution2.png) no-repeat;background-size:300px 1000px;background-color:rgba(0,0,0,.7);background-position:-275px -424px;z-index:2;}
.contFloat-detail .contact-list li{padding:10px 0;border-bottom:1px solid rgba(255,255,255,.1);}
.contFloat-detail .contact-list .tel-li{padding:0;}
.contFloat-detail .contact-list .tel-a{display:block;padding:10px 0;color:#fff;font-size:14px;}
.contFloat-detail .contact-list .tel-a:active{background:rgba(0,0,0,1)}
.contFloat-detail .contact-list li:last-child{border-bottom:0;}
.contFloat-detail .contact-list .label{display:inline-block;width:80px;}
.contFloat-detail .icon-tel{display:inline-block;margin:0 0 0 10px;;width:25px;height:20px;background:url("../images/distribution2.png") -200px -820px;background-size:300px 1000px; vertical-align:middle;}

.contact-public{position:fixed;left:10px;width:35px;padding:0;line-height:15px;border-radius:5px;background:rgba(0,0,0,0.7);bottom:70px;text-align:center;color:#fff;z-index:2;}
.contact-public li{display:block;border-bottom:1px solid #0e0e0e;text-align:center;
					-webkit-box-sizing:border-box;
						-moz-box-sizing:border-box;
							-o-box-sizing:border-box;	
								box-sizing:border-box;
}
.contact-public li:last-child{border-bottom:0;border-top:1px solid #242424;}
.contact-public a{display:block;color:#fff;font-size:12px;text-align:center;padding:6px;}
.contact-public .icon-tel{display:block;margin:0px auto 0 auto;width:25px;height:20px;background:url("../images/distribution2.png") -200px -820px;background-size:300px 1000px;}

/*app download*/
.appdownload{display:block;margin:0;padding:15px;border-top:0px solid #ccc;border-bottom:0px solid #e7e7e7;background:#f0f0f0;}
.appdownload .logo img{margin-right:10px;height:20px;width:auto;border:2px solid #fff;border-radius:2px;}
.appdownload .arrow{float:right;display:inline-block;margin-top:6px;background:url("../images/icon-ps.png") -55px 0;width:6px;height:11px;}
/*app download*/
.apptip{height:50px;background:rgba(0,0,0,.7);}
.apptip .icon-close{position:absolute;top:0;display:inline-block;width:20px;height:20px; background:url(../images/distribution2.png) no-repeat;background-size:300px 1000px;background-color:rgba(0,0,0,.3);background-position:-277px -426px;border-bottom-right-radius:100%;}
.apptip-logo{display:inline-block;padding:6px 0 0 0;margin:0 5px 0 30px;}
.apptip-logo img{max-width:36px;max-height:36px;}
.apptip-text{font-size:14px;color:#fff;}
.apptip-btn{float:right;hegith:20px;line-height:20px;margin:13px 10px 0 0;padding:3px 6px; color:#333;border-radius:3px;
			background:-webkit-linear-gradient(top,#d5d5d5,#f0f0f0);
				background:-moz-linear-gradient(top,#d5d5d5,#f0f0f0);
					background:-o-linear-gradient(top,#d5d5d5,#f0f0f0);
						background:linear-gradient(top,#d5d5d5,#f0f0f0);
			}
/*frome somebody*/
.fromesb{position:fixed;top:0;left:0;right:0;height:70px;background:rgba(0,0,0,.8);z-index:999;}
.fromesb-header{float:left;display:inline-block;margin:10px;}
.fromesb-header img{width:50px;height:50px;border-radius:50%;}
.fromesb-text{float:left;margin-top:15px;font-size:14px;color:#fff;}
.fromesb-text .color-green{display:inline-block;margin-top:-4px;max-width:60px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#96ff00; vertical-align:middle;}
.fromesb-btn{float:right;hegith:35px;line-height:35px;margin:17px 10px 0 0;padding:0 6px; color:#333;border-radius:3px;font-size:16px;
			background:-webkit-linear-gradient(top,#d5d5d5,#f0f0f0);
				background:-moz-linear-gradient(top,#d5d5d5,#f0f0f0);
					background:-o-linear-gradient(top,#d5d5d5,#f0f0f0);
						background:linear-gradient(top,#d5d5d5,#f0f0f0);
			}
/*alert box*/
.alert-mask{display:none;position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.8); z-index:998;}
.alert-box{display:none;position:fixed;top:50%;left:5%;width:90%;background:#fff;box-shadow:0 0 10px #333;border-radius:3px;z-index:999;}
.alert-box-c{padding:20px;}
.alert-box-btn{position:absolute;bottom:0;left:0;right:0;height:45px;border-top:1px solid #e7e7e7;}
.alert-box-btn a{float:left;display:block;width:50%;height:45px;line-height:45px;text-align:center;}
.alert-box-btn a:hover{background:#e1e1e1;}
.alert-btn-sub{border-right:1px solid #e7e7e7;font-size:18px;color:#333;
			  box-sizing:border-box;
			  	-webkit-box-sizing:border-box;
					-o-box-sizing:border-box;
						-ms-box-sizing:border-box;
}
.alert-btn-can{font-size:14px;color:#999;}

/*shopping progress*/
.addcart-way{position:absolute;width:40px;height:40px;background:rgba(0,0,0,.8);border-radius:50%; z-index:999;
			filter:alpha(opacity=0);
				-webkit-opacity:0;
					-moz-opacity:0;
						-o-opacity:0;
							opacity:0;
				animation:runcart 1s;
					-webkit-animation:runcart 1s;
						-o-animation:runcart 1s;
							-moz-animation:runcart 1s;}
@keyframes runcart{
	0%{right:80%;top:100%;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;
			  -khtml-opacity:.8;
				  opacity:.8;
	}	80%{right:20px;top:6px;
		opacity:.8;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;;
			  -khtml-opacity:.8;
				  opacity:.8;}
	100%{right:20px;top:6px;
		opacity:0;
		filter:alpha(opacity=0);
		  -moz-opacity:0;
			  -khtml-opacity:0;
				  opacity:0;
	}
	}
@-webkit-keyframes runcart{
	0%{right:80%;top:100%;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;
			  -khtml-opacity:.8;
				  opacity:.8;
	}	80%{right:20px;top:6px;
		opacity:.8;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;;
			  -khtml-opacity:.8;
				  opacity:.8;}
	100%{right:20px;top:6px;
		opacity:0;
		filter:alpha(opacity=0);
		  -moz-opacity:0;
			  -khtml-opacity:0;
				  opacity:0;
	}
	}
@-moz-keyframes runcart{
	0%{right:80%;top:100%;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;
			  -khtml-opacity:.8;
				  opacity:.8;
	}	80%{right:20px;top:6px;
		opacity:.8;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;;
			  -khtml-opacity:.8;
				  opacity:.8;}
	100%{right:20px;top:6px;
		opacity:0;
		filter:alpha(opacity=0);
		  -moz-opacity:0;
			  -khtml-opacity:0;
				  opacity:0;
	}
	}
@-o-keyframes runcart{
	0%{right:80%;top:100%;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;
			  -khtml-opacity:.8;
				  opacity:.8;
	}	80%{right:20px;top:6px;
		opacity:.8;
		filter:alpha(opacity=80);
		  -moz-opacity:.8;;
			  -khtml-opacity:.8;
				  opacity:.8;}
	100%{right:20px;top:6px;
		opacity:0;
		filter:alpha(opacity=0);
		  -moz-opacity:0;
			  -khtml-opacity:0;
				  opacity:0;
	}
	}
.mask{display:none;position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.6);z-index:5;}
.success-tip-line{position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-75px;width:150px;border-radius:20px;padding:5px 0;background:rgba(0,0,0,.6);color:#fff;text-align:center;z-index:6;}
.loading{position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(255,255,255,0);text-align:center;z-index:999;}
.loading .icon-loading{position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-20px;width:40px;height:40px;background:url("../images/loading2.gif") no-repeat;background-size:contain;}

/*------collect------*/
.collect-link{position:fixed;left:10px;bottom:175px;width:18px;padding:5px;line-height:15px; border-top-left-radius:5px;border-top-right-radius:5px;background:rgba(0,0,0,0.7);border-bottom:1px solid rgba(255,255,255,.1);text-align:center;color:#fff;z-index:2;}
.collect-link .icon-star{display:block;margin:0 auto;width:20px;height:20px;background:url("../images/distribution2.png") -247px -822px;background-size:300px 1000px;}
.collect-link .text{display:block;margin-top:3px;text-align:center;font-size:14px;color:#fff;}
.collect-tip{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.8);text-align:right;z-index:1000;}
.collect-tip img{margin-right:5%;width:82%;height:auto;}
.collect-tip .a-know{position:absolute;bottom:30px;left:50%;height:40px;line-height:40px;margin-left:-55px;padding:0 30px;border:1px solid #fff;color:#fff;text-align:center;}
/*------youhuiquan------*/
.youhuiquan{}
.youhuiquan-row{padding:5px;border-bottom:1px solid rgba(0,0,0,.1);}
.youhuiquan-row:before,
.youhuiquan-row:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.youhuiquan-col{float:left;width:33.33%;}
.youhuiquan-content{display:block;position:relative;height:70px;background:#f23c3c;}
.youhuiquan-content.first{margin-right:2px;}
.youhuiquan-content.mid{margin-left:2px;margin-right:2px;}
.youhuiquan-content.last{margin-left:2px;}
.youhuiquan-content .circle{position:absolute;left:0;right:0;height:5px;background:url("../images/radius.png") repeat-x;background-size:5px;}
.youhuiquan-content .circle.top{top:-3px;}
.youhuiquan-content .circle.bottom{bottom:-3px;}
.youhuiquan-content .money-number{display:block;margin:0;padding-top:8px;line-height:22px;font-size:25px;color:#fff;text-align:center;}
.youhuiquan-content .explanation{display:block;margin:0;font-size:12px;color:rgba(255,255,255,.7);text-align:center;}
.youhuiquan-content .get{display:block;line-height:16px;font-size:14px;text-align:center;color:rgba(255,255,255,.7);}
.youhuiquan-alert{position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.7);z-index:100;}
.youhuiquan-alert-c{position:absolute;top:50%;left:50%;margin-top:-150px;margin-left:-40%;width:80%;background:#fff;border-radius:10px;}
.youhuiquan-alert-c .icon-close{position:absolute;right:10px;top:10px;width:20px;height:20px;background:url("../images/close-red.png") no-repeat;background-size:contain;}
.youhuiquan-alert-c .icon-youhuiquan{display:block;margin:40px auto 20px auto;width:100px;height:76px;background:url("../images/icon-quan.png") no-repeat;background-size:contain;}
.youhuiquan-alert-c .txt{text-align:center;}
.youhuiquan-alert-c .txt big{font-size:20px;color:#f23c3c;}
.youhuiquan-alert-c .txt small{display:block;font-size:14px;color:#bbb;}
.youhuiquan-alert-c .btn{display:block;margin:0 auto;width:60%;height:35px;line-height:35px;text-align:center;border-radius:5px;}
.youhuiquan-alert-c .btn-share{margin:30px auto 20px auto;background:#f23c3c;color:#fff;font-size:16px;}
.youhuiquan-alert-c .btn-view{margin-bottom:10px;color:#f23c3c;font-size:12px;}
.mask-share{position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.8);text-align:right;z-index:100; }
.mask-share img{width:80%;}